body {
    background-color: #d0e4fe;
}

#container {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    margin-top: 100px;
}

#logo {
    float: left;
    width: 340px;
    height: 400px;
}

#login {
    float: right;
    width: 250px;
    height: 150px;
    background-color: white;
    position: relative;
}

#signup {
    float: right;
    width: 250px;
    height: 240px;
    margin-top: 10px;
    background-color: white;
    position: relative;
}
form {
    width: 248px;
}
label {
    float: left;
    margin-top: 2px;
}
input {
    width: 130px;
    float: right;
    margin-top: 2px;
}
#SubmitButton {
    position: absolute;
    right: 1;
    bottom: 1;
}

input {
    width: 148px;
    float: left;
}

label {
    width: 100px;
    float: left;
}
